[Unit]
Description=Test Service
Wants=Network.target
After=Network.target

[Service]
ExecStart=/usr/bin/HelloWorld

[Install]
WantedBy=multi-user.target
